.page-hidden {
	display: none;
}

.navbar {
	background: #59A5CC;
}

.title {
	font-weight: bold !important;
}

.is-bold {
	font-weight: bold !important;
}

.is-white {
	color: white !important;
}

.navbar-logo {
	margin-right: 10px;
}

.navbar-search {
	margin: 10px;
	outline: none;
	border: none;
}

.is-circular {
	border-radius: 50%;
}

.profile-image .is-filled-image {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}

.is-filled-image {
	background: gray;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.subtitle.is-followed {
	margin-bottom: 0 !important;
}

.profile-header {
	/*background: rgba(255, 255, 255, 0.75);*/
	padding: 20px;
}

.is-gray {
	background: #EFEFEF;
}

#map-holder {
	width: 100%;
	height: 400px;
}

.profile-experience {
	margin-bottom: 20px;
}

.has-margin-bottom {
	margin-bottom: 15px !important;
}

.a-enter-vr-button {
	position: fixed !important;
	bottom: 10px !important;
	right: 10px !important;
}
