.page-hidden {
	display: none;
}

.navbar {
	background: #59A5CC;
}

.title {
	font-weight: bold !important;
}

.is-bold {
	font-weight: bold !important;
}

.is-white {
	color: white !important;
}

.is-hidden {
	display: none;
}

.is-neatly-spaced {
	margin-top: 0.75rem !important;
}

.navbar-logo {
	margin-right: 10px;
}

.navbar-search {
	margin: 10px;
	outline: none;
	border: none;
}

.is-circular {
	border-radius: 50%;
}

.profile-image .is-filled-image {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}

.is-filled-image {
	background: gray;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.image.is-64x64 .is-filled-image {
	width: 64px;
	height: 64px;
}

.image.is-128x128 .is-filled-image {
	width: 128px;
	height: 128px;
}

.image.is-225x225 .is-filled-image {
	width: 225px;
	height: 225px;
}


.subtitle.is-followed {
	margin-bottom: 0 !important;
}

.profile-header {
	/*background: rgba(255, 255, 255, 0.75);*/
	padding: 20px;
}

.is-gray {
	background: #EFEFEF;
}

#map-holder {
	width: 100%;
	height: 400px;
}

.profile-experience {
	margin-bottom: 20px;
}

.has-margin-bottom {
	margin-bottom: 15px !important;
}

.a-enter-vr-button {
	position: fixed !important;
	bottom: 10px !important;
	right: 10px !important;
}

/* PATS ANIMATION */
/* https://www.youtube.com/watch?v=ETXba6QOzYg */

.pats {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.pats div {
	position: absolute;
	list-style: none;
	display: block;
	background-color: rgba(234, 69, 100, 0.15);
	/*background-image: ;*/
	bottom: -100px;
	-webkit-animation: square 10s infinite;
	animation: square 10s infinite;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.pats div:nth-child(1) {
	width: 40px;
	height: 40px;
	left: 20%;
}
.pats div:nth-child(2) {
	width: 60px;
	height: 60px;
	left: 40%;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration:97s;
	animation-duration: 9s;
}

.pats div:nth-child(3) {
	width: 50px;
	height: 50px;
	left: 60%;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}

.pats div:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 80%;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration: 11s;
	animation-duration: 11s;
}

.pats div:nth-child(5) {
	width: 50px;
	height: 50px;
	left: 50%;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

@-webkit-keyframes square {
	0% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	100% {
	    -webkit-transform: translateY(-1080px) rotate(630deg);
	    transform: translateY(-1080px) rotate(630deg);
	}
}

@keyframes square {
	0% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	100% {
	    -webkit-transform: translateY(-1080px) rotate(630deg);
	    transform: translateY(-1080px) rotate(630deg);
	}
}
